@using Model.Enitites
@{
    ViewBag.Title = "Digitalathletics";

}
@if (Request.IsAuthenticated && ViewData["followedMatches"] != null)
{
    <div class="container">
        @foreach (Match item in (IList<Match>)ViewData["followedMatches"])
        {
            <div class="row">
                @item.AwayTeam
                @item.AwayTeamScore
            </div>
        }
    </div>
}
<div class="container">
    <h1>Latest matches</h1>
    @foreach (Match item in (IList<Match>)ViewData["allMatches"])
    {
        <div class="row">
            @item.AwayTeam<br />
            @item.AwayTeamScore<br />
        </div>
    }
</div>